*{
    font-family: "Helvetica Neue", Arial ,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
@import 'include/variables';
@import 'include/mixins';
@import 'include/functions';
@import 'include/btn';
@import 'include/forms';
@import 'include/grid';
